body {
  background-color: lightblue;
}
        div {
            border: 2px solid gray;
            padding: 5px;
            background-color: white;
        }

        h1 {
            text-align: center;
            text-transform: uppercase;
            color: #4CAF50;
        }

        p {
            text-indent: 50px;
            text-align: center; /* Centrē tekstu */
            letter-spacing: 2px;
        }

        a {
            text-decoration: none;
            color: #008CBA;
        }
